* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.info-header {
    width: 100%;
    height: 48px;
    background-color: #3e3e3e;
}

.container {
    width: 1024px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container a {
    color: #43DEEF;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px;
}
section {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

select, button {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

select {
    background: #fff;
}

button {
    background: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #004494;
}
